.nav-search .input-group {

    width: 400px !important;


}



.sidebar .nav>.nav-item.active a i {
    color: #35cd3a !important;
}


.btn-primary {
    background: #35cd3a!important;
    border-color: #35cd3a!important;
}


.btn-border.btn-info {
    color: #35cd3a!important;
    border: 1px solid #35cd3a!important;
}


.sidebar .nav>.nav-item a:focus p, .sidebar .nav>.nav-item a:hover p {
    color: #35cd3a!important;
}

.sidebar .nav>.nav-item a:focus i, .sidebar .nav>.nav-item a:hover i {
    color: #35cd3a!important;
}
